@media screen and (min-width: 480px) {
/***************
CONTACT HEADER
***************/
.wow {
   visibility: hidden;
}
.alignment{

  color: rgba(74,74,74,.9);
}
.contact-information{
  margin-top: 5px;
  text-align: center;

}
.my-image{
  margin-top: 35px;
  width: 50%;
}
.contact-details{
  font-size: 15px;
  line-height: 10px;
  color: rgba(74,74,74,.9);
  text-decoration: none;
  display: inline;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background: transparent;
  letter-spacing:1px;



}
.contact-details a{
  color: rgba(74,74,74,3.9);
  text-decoration: none;
  border-bottom: 1px solid rgba(26,26,26,.29);
  display: inline;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background: transparent;
}

form label{
  text-align: left;
  margin-left: 13%;
}
label {
  display:block;
  margin-top:20px;
  letter-spacing:2px;
}

input, textarea {
  width:70%;
  height:27px;
  background:#f5f5f5;
/*  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;*/
  border:1px solid #dedede;
  padding:10px;
  margin-top:3px;
  font-size:0.9em;
  color:rgba(74,74,74,3.9);
}

  input:focus, textarea:focus {
    border:1px solid #f5f5f5;
    background-color: #fcfcfc;
  }

textarea {
  height:213px;
  font-family: 'Open Sans', sans-serif;
  background:#f5f5f5;
}

#submit {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  width:127px;
  height:40px;
  border:1px solid rgba(74,74,74,3.9);
  margin-top:40px;
  cursor:pointer;

}

}

@media screen and (min-width: 660px) {
/***************
CONTACT HEADER
***************/
.wow {
   visibility: hidden;
}
.alignment{

  color: rgba(74,74,74,.9);
}
.contact-information{
  margin-top: 5px;
  text-align: center;

}
.my-image{
  margin-top: 35px;
  width: 30%;
}
.contact-details{
  font-size: 15px;
  line-height: 10px;
  color: rgba(74,74,74,.9);
  text-decoration: none;
  display: inline;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background: transparent;
  letter-spacing:1px;



}
.contact-details a{
  color: rgba(74,74,74,3.9);
  text-decoration: none;
  border-bottom: 1px solid rgba(26,26,26,.29);
  display: inline;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background: transparent;
}

label {
  display:block;
  margin-top:20px;
  letter-spacing:2px;

}
form label{
  text-align: left;
  margin-left: 14%;
}

input, textarea {
  width:70%;
  height:27px;
  background:#f5f5f5;
/*  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;*/
  border:1px solid #dedede;
  padding:10px;
  margin-top:3px;
  font-size:0.9em;
  color:rgba(74,74,74,3.9);
}

  input:focus, textarea:focus {
    border:1px solid #f5f5f5;
    background-color: #fcfcfc;
  }

textarea {
  height:213px;
  font-family: 'Open Sans', sans-serif;
  background:#f5f5f5;
}

#submit {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  width:127px;
  height:40px;
  border:1px solid rgba(74,74,74,3.9);
  margin-top:40px;
  cursor:pointer;
  -webkit-appearance:none;
  -moz-appearance:none;
}


}
