/*******************
CONTACT HEADER
*******************/
.alignment{
  text-align: left;
  color: rgba(74,74,74,.9);
  margin-left: 15px;
}
.contact-information{
  margin-top: 20px;
  text-align: center;
}
.wow {
   visibility: hidden;
}
.contact-details{
  font-size: 17px;
  line-height: 30px;
  color: rgba(74,74,74,.9);
  text-decoration: none;
  display: inline;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background: transparent;
  letter-spacing:1px;



}
.contact-details a{
  color: rgba(74,74,74,3.9);
  text-decoration: none;
  border-bottom: 1px solid rgba(26,26,26,.29);
  display: inline;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background: transparent;
}

.my-image{
  margin-top: 45px;
  width: 90%;
  z-index: -1;
}

:required:focus{
  box-shadow: 0  0 3px rgba(255,0,0,0.5); 
  background-color: #fcfcfc;
}


form {
}

label {
  display:block;
  margin-top:20px;
  letter-spacing:2px;
}

input, textarea {
  width:90%;
  height:27px;
  background:#f5f5f5;
/*  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;*/
  border:1px solid #dedede;
  padding:10px;
  margin-top:3px;
  font-size:0.9em;
  color:rgba(74,74,74,3.9);
}

  input:focus, textarea:focus {
    border:1px solid #f5f5f5;
    background-color: #fcfcfc;
  }

textarea {
  height:213px;
  font-family: 'Open Sans', sans-serif;
  background:#f5f5f5;
}

#submit {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  width:127px;
  height:40px;
  border:1px solid rgba(74,74,74,3.9);
  margin-top:25px;
  cursor:pointer;
  -webkit-appearance:none;
  -moz-appearance:none;
}
#submit:hover{
  background-color: #000;
  color: #fff;
  transition: all .6s ease ;
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -o-transition: all .6s ease;
}
