/**********************************
Header Styling
***********************************/
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}
.wow {
   visibility: hidden;
}

.resume{
  text-align: center;
  padding:10px;
  margin-top: 10px;
}
.resume a{
  padding:10px;
  border: 2px solid #fff;
  text-decoration: none;
}
.resume a:hover{
  background-color: #fff;
  padding:10px;
  color: #333333;
    transition: all .6s ease ;
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -o-transition: all .6s ease;
}
.desk-header-image{
  background: url(https://40.media.tumblr.com/50b7a64b72adb3f1cdc54259b79a99b6/tumblr_o1y8y7LLdI1ubupxao1_1280.jpg)no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 640px;

}
.portfolio-header-image{
  background: url(https://65.media.tumblr.com/dc3802f33663bb00a027472b2cc839c4/tumblr_o7msua5KYs1ubupxao1_1280.jpg)no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 640px;
}
.phone-header-image{
  background: url(https://41.media.tumblr.com/f6c75f1242414c249f11a017b86e3e9d/tumblr_o1ybd75sb61ubupxao1_1280.jpg)no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 640px;

}
.library-header-image{
  background: url(https://41.media.tumblr.com/4f23ef5c13050b5a0c95350e9ffc56d4/tumblr_o1ybgzbjqU1ubupxao1_1280.jpg)no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 640px;
}
.coffee-image{
  background: url(https://41.media.tumblr.com/73430613bccd63e2a38f6a3773fe8ac4/tumblr_o1ybj1I3bU1ubupxao1_1280.jpg)no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 640px;
}

.blue-print-image{
  background: url(https://66.media.tumblr.com/1499746729d52b5a2b28fc5eaddcc4d2/tumblr_o14jdtDnhZ1ubupxao1_500.jpg)no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 300px;

}
.computer-image{
  background: url(https://56.media.tumblr.com/46adc3795d8400398a973aa0ee72534f/tumblr_o1dsekYV3Q1ubupxao1_500.jpg)no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 300px;

}

.header-overlayer{
  background: rgba(0,0,0, 0.7);
  height: 640px;
}
header h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
}
nav a{
  color: #fff;
  text-decoration: none;
}
nav a:hover{
  border-bottom:2px solid #fff;
  text-decoration: none;
}

h1,a{
  color: #000;
  text-decoration: none;
}

ul{
  text-align: center;
}
li{
  display: inline-block;
  font-size: 18px;
  padding: 5px;

}
.logo{
  color:#fff;
  text-decoration: none;
  padding-left: 30px;
}


.navigation-list-underline{
  border-bottom:2px solid #fff;
}

section{
  padding-top:2em;
}
.my-skill{
    margin-top: 50px;
}
.skills{
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  color: #fff;
  font-weight: 400;
  text-align: center;
}
.typed-cursor{
    opacity: 1;
    color:#fff;
    -webkit-animation: blink 0.8s infinite;
    -moz-animation: blink 0.8s infinite;
    animation: blink 0.8s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/**********************************
Main Styling
***********************************/

.alignment{
  text-align: center;
  font-size: 14px;
  padding: 10px;
  margin: 8px;
  line-height: 2.4em;
  color: #767676;
  padding-bottom: 25px;
  border-bottom: 1px solid #dcdcdc;
}
article h1{
  font-family: 'Libre Baskerville', serif;
  font-size: 25px;
  padding-top: 15px;
  padding-bottom: 25px;
  font-weight: 400;
}
/*article p{
  color: #767676;
  padding-bottom: 25px;
  border-bottom: 1px solid #dcdcdc;
}*/

.blog-keyboard-image{
  background: url(https://41.media.tumblr.com/980fcab77cb6c5fa2e62977a9d0dacc8/tumblr_o1yble6Wbz1ubupxao1_1280.png)no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 300px;

}
.css-concept-image{
  background: url(https://40.media.tumblr.com/3551870209747dbc4761f830f735f36c/tumblr_o1yboyagLR1ubupxao1_1280.jpg)no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 300px;

}
.css-bulb-image{
  background: url(https://40.media.tumblr.com/f1dfd933f6052c53048edd98e4548437/tumblr_o1ybrofLqf1ubupxao1_1280.jpg)no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 300px;

}

.hands-image{
  background: url(https://36.media.tumblr.com/56e15d82cbaf15faeeff933a1cbc48c8/tumblr_o1ybu8SwU51ubupxao1_1280.jpg)no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 300px;

}

.computer-index-image{
  background: url(https://56.media.tumblr.com/46adc3795d8400398a973aa0ee72534f/tumblr_o1dsekYV3Q1ubupxao1_500.jpg)no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 300px;

}
.friend-image{
  background: url(https://67.media.tumblr.com/d16c83d2d21d783f53b0a3413c2c2e23/tumblr_o1f2ssvgj11ubupxao1_540.jpg)no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 300px;

}
.circle-image{
  background: url(https://40.media.tumblr.com/423643eceb8fac7950e89326505fd7b2/tumblr_o1tvd4Nj3W1ubupxao1_1280.jpg)no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 300px;
}

.overlayer-mobile{
  background: rgba(0,0,0, 0.4);
  height: 300px;
}

.sub-title{
font-family: 'Libre Baskerville', serif;
  padding: 20px;
  font-size: 20px;
  color: #000;
}
.sub-title p{
   font-family: 'Open Sans', sans-serif;
  color: #848383;
  font-size: 11px;
}

.alignment button{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  padding: 13px 25px 13px 25px;
  margin-top: 20px;
  background-color: rgba(0,0,0, 0.0);
  border: 2px solid #000;
  color: #000;
  cursor: pointer;
  -webkit-appearance:none;
}

.alignment button:hover{
  background: #000;
  color: #fff;
  transition: all .6s ease ;
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -o-transition: all .6s ease;
}
.hire-offer{
  font-family: 'Libre Baskerville', serif;
  background-color: rgba(0,0,0, 0.8);
  color: #fff;
  padding: 70px 70px 70px 70px;
  text-align: center;
  font-size: 20px;
}
.hire-offer button{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  padding: 13px 25px 13px 25px;
  margin-top: 20px;
  background-color: rgba(0,0,0, 0.0);
  border: 2px solid #dcdcdc;
  color: #dcdcdc;
  cursor: pointer;
  -webkit-appearance:none;
}

.hire-offer button:hover{
  background-color: rgba(0,0,0, 0.6);
  color: #dcdcdc;
  transition: all .6s ease ;
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -o-transition: all .6s ease;
}
iframe{
  height: 30em;
  margin-top: 10px;
  margin-bottom: 5px;
  width: 20em; border: 0; overflow: hidden;
}

.pagination li a{
  padding: 5px 7px 5px 7px;

}
.pagination a:hover{
  background-color: #000;
  color: #fff;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
}
/**********************************

PORTFOLIO CSS
**********************************/

.grid {
  padding: 20px 20px 100px 20px;
  max-width: 1100px;
  list-style: none;
  text-align: center;
}
.container{
  margin-top: 5rem;
}
.grid li {
  display: inline-block;
  width: 20em;
  margin: 0;
  padding: 20px;
  text-align: left;
  /*position: relative;*/
}

.grid figure {
  margin: 0;
  position: relative;
}

.grid figure img {
  max-width: 100%;
  display: block;
  position: relative;
}

.grid figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
  background: rgba(0,0,0, 2);
  color: gray;
}

.grid figcaption h3 {
  margin: 0;
  padding: 0;
  color: #fff;
}

.grid figcaption span:before {
  content: 'by ';
}

.grid figcaption a {
  text-align: center;
  padding: 5px 10px;
  border-radius: 2px;
  display: inline-block;
  background: gray;
  /*#ed4e6e I like this color*/
  color: #fff;
  font-size: 16px;
}

/* Caption Style 3 */
.cs-style-3 figure {
  overflow: hidden;
}

.cs-style-3 figure img {
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;

}

.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  transform: translateY(-50px);
}

.cs-style-3 figcaption {
  height: 100px;
  width: 100%;
  top: auto;
  bottom: 0;
  opacity: 0;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
  transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s;
}

.cs-style-3 figcaption a {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

/**********************************
Footer
***********************************/

footer{
  padding: 100px 20px 90px 20px;
  text-align: center;
  background-color:#26262a;
  color: #dcdcdc;
  font-size: 12px;
}

.footer-list{
  font-size: 15px;
  padding-bottom: 20px;
}

.footer-list a{
  color: #dcdcdc;
}



.rights-reserved{
  padding-top: 30px;
  color: #dcdcdc;
}

.icon-size{
  width: 20px;
  margin-top: 25px;
  filter: invert(70%);
  -webkit-filter: invert(70%);
  -moz-filter: invert(70%);
}
.icon-size:hover{
  color:red;
  filter: invert(100%);
  -webkit-filter: invert(100%);
  -moz-filter: invert(100%);
  transition: all .6s ease;
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -o-transition: all .6s ease;
}
  footer nav ul li:nth-last-child(1){
}
border:none;
}
}